.markdown-body {
  .title {
    font-size: 2em;
    font-weight: 600;
    color: transparent;
    background: linear-gradient(180deg, var(--lightblue), var(--blue),);
    background-clip: text;
    margin-bottom: 12px;
  }

  .info {
    margin-bottom: 20px;

    p {
      margin-bottom: 0;
    }
  }

  .experience {
    font-size: 1.6em;
    font-weight: 500;
    margin-bottom: 0;
  }

  .experience-role {
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom: 0;
  }

  .experience-period {
    font-size: 1em;
    margin-bottom: 4px;
  }
}
