.markdown-body {
  background-color: var(--white);
  color: var(--black);

  a {
    color: var(--blue);
    font-weight: 600;

    &:hover {
      opacity: 0.85;
    }
  }

  ul {
    list-style: disc;
    padding-left: 20px;
  }
}
