.markdown-body {
  background-color: theme("colors.white");
  color: theme("colors.gray.800");

  a {
    color: theme("colors.blue.600");
    font-weight: 600;

    &:hover {
      opacity: 0.85;
    }
  }

  ul {
    list-style: disc;
    padding-left: 20px;
  }
}
