.markdown-body {
  a {
    color: var(--blue);
    text-decoration: underline;
    transition: opacity 0.1s;

    &:hover {
      opacity: 0.75;
    }
  }

  ul {
    list-style: disc;
    padding-left: 20px;
  }
}
